# Dependencies
node_modules
npm-debug.log

# Environment variables
.env

# Git
.git
.gitignore

# Docker
Dockerfile
.dockerignore
docker-compose.yml

# Logs and temporary files
*.log
*.txt
coverage/
dist/
build/
